<a href="https://colab.research.google.com/github/HimanshuSharma0711/Python-Notes/blob/main/Py_List_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**List Comprehension**
List comprehension is method of creating a list with a shorter syntax from the values of an existing list.
* List comprehension uses loops ('For loop or 'while loop) and condional statements(if-elif-else).

In [3]:
#Normal Method of Creating a list
NumList = [1,2,4,6,11,14,17,20,23,29,30]

sqNum = []
for i in NumList:
  sqNum.append(i**2)
print(sqNum)

#Creating List via List Comprehension

sqNum=[i**2 for i in NumList]
print(sqNum)

[1, 4, 16, 36, 121, 196, 289, 400, 529, 841, 900]
[1, 4, 16, 36, 121, 196, 289, 400, 529, 841, 900]

#**Syntax of conditional list comprehension**

1. if there is only 'if' statement

    list comprehension = [operation + loop + if condition]

2. if there is 'if statement' with 'else statement'

    list comprehension = [operation + if statement+ else + else operation+ Loop]

3. When there are multiple conditions

    list comprehension = [operation + if statement + else + elif operation + if(2nd condition) + else + else operation + Loop]

#**Only if - Statement**

In [6]:
#Condition : Square only even number

#Normal Method
NumList = [1,2,4,6,11,14,17,20,23,29,30]
sqNum = []

for i in NumList:
  if i%2 ==0:
    sqNum.append(i**2)
print(sqNum)

#by List Comprehension
sqNum=[i**2 for i in NumList if i%2 == 0]
print(sqNum)

#Condition : Square only odd number

#Normal Method
NumList = [1,2,4,6,11,14,17,20,23,29,30]
sqNum = []

for i in NumList:
  if i%2 !=0:
    sqNum.append(i**2)
print(sqNum)

#by List Comprehension
sqNum=[i**2 for i in NumList if i%2 != 0]
print(sqNum)

[4, 16, 36, 196, 400, 900]
[4, 16, 36, 196, 400, 900]
[1, 121, 289, 529, 841]
[1, 121, 289, 529, 841]

#**If statement with else statement**

In [7]:
#Condition: Square if numbers are even, 3 times if numbers are odd

#Normal Method
NumList = [1,2,4,6,11,14,17,20,23,29,30]
num = []

for i in NumList:
  if i%2 ==0:
    num.append(i**2)
  else:
    num.append(i*3)
print(num)

#by List Comprehension
num=[i**2 if i%2 == 0 else i*3 for i in NumList]
print(num)

[3, 4, 16, 36, 33, 196, 51, 400, 69, 87, 900]
[3, 4, 16, 36, 33, 196, 51, 400, 69, 87, 900]

#**Multiple conditions**

In [8]:
#Condition: if num is divisible by 2 print 2, if number is divisible by 3 print 3, else print the number 

#Normal Method
NumList = [1,2,4,6,11,14,17,20,23,29,30]
num = []

for i in NumList:
  if i%2 ==0:
    num.append(2)
  elif i%3 == 0:
    num.append(3)
  else:
    num.append(i)
print(num)

#by List Comprehension
num=[2 if i%2==0 else 3 if i%3==0 else i for i in NumList]
print(num)

[1, 2, 2, 2, 11, 2, 17, 2, 23, 29, 2]
[1, 2, 2, 2, 11, 2, 17, 2, 23, 29, 2]

#**Nested List Comprehension**